.container {
border: 2px solid lightslategray;
border-radius: 10px;
margin-top: 0px;
margin-bottom: 15%;
}


.container {
  flex: 1;
}

.btn{
  transition: 0.3;
}

.btn:hover{
  transform: scale(1.1);
}